# Maven
target/

# Logs
*.log

# VS Code
.vscode/

# IntelliJ / JetBrains
.idea/
*.iml

# Eclipse / STS
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# DB
db.properties

# GOOGLE
src/main/resources/google.properties
google.properties